@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/user-interface";

html,body{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 700px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include user-select(none);
}

*{
  @include box-sizing(border-box);
}

h1{
  color: red;
}